.projectComponentContainer {
    padding-bottom: 10%;
    background-color: rgb(37, 37, 37);
}

.headerOne {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 20% 0% 1% 0%;
    letter-spacing: 5px;
}

.projectContainer, .project, .projectImgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    padding-bottom: 10%;
}

.projectImg {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.projectHeader {
    font-size: 1.5rem;
}

.projectDesc {
    text-align: justify;
    line-height: 25px;
    padding: 3% 7% 3% 7%;
}

.projectLinkContainer, .projectLinkContainer3 {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.projectLinkContainer3 {
    width: 80%;
}

.projectLink {
    border: 1px solid #ffffff;;
    border-radius: 5px;
    padding: 1% 5%;
}

.projectLink:hover {
    background-color: rgb(105,105,105,1);
    font-weight: 600;
}