.projectContainer, .project, .projectImgContainer {
    background-color: #1e1e1c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectImg {
    width: 80%;
}

.projectDesc {
    text-align: justify;
}