.techContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.languages, .frameworks {
    display: flex;
}

.techIcons {
    height: 100px;
}

.techHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}