.aboutContainer {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1c;
    padding: 10% 0%;
}

.aboutHeader {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 10px;
    text-align: center;
    padding: 5% 0%;
}

.aboutDesc {
    text-align: justify;
    line-height: 25px;
    padding: 0% 7%;
}

@media (min-width: 600px) {
    .aboutContainer {
        padding: 5%;
    }

    .aboutHeader {
        font-size: 2.5rem;
        padding: 3% 0%;
    }

    .aboutDesc {
        padding: 1% 34% 0%;
        line-height: 30px;
    }
}