.nav {
    display: flex;
    position: absolute;
    border: 1px solid red;
}

/* https://www.w3schools.com/howto/howto_css_menu_icon.asp */
.barOne, .barTwo, .barThree {
    width: 35px;
    height: 5px;
    background-color: lemonchiffon;
    margin: 6px 0;
    transition: .5s;
}

.change .barOne {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .barTwo {
    opacity: 0;
}

.change .barThree {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}