.nav {
    position: absolute;
    border: 1px solid red;
    padding: 0 6px;
}

/* https://www.w3schools.com/howto/howto_css_menu_icon.asp */
.barOne, .barTwo, .barThree {
    width: 35px;
    height: 5px;
    background-color: lemonchiffon;
    margin: 6px 0;
    transition: .5s;
}

@keyframes slidein {
    from{transform: translateX(-100%);}
    to{transform: translateX(0%);}
}

.navMenu {
    position: absolute;
    border: 1px solid red;
    left: 0;
    width: 100vw;
    animation: slidein .5s;
}

.jumpLink, .resumeLink, .otherLink {
    border: 1px solid red;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    padding: 25px;
    letter-spacing: 1px;
}